* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: url("images/mosque.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    width: 110rem;
    // z-index: 2;
    margin-top: -35rem;
    margin-left: -16.6rem;
    animation-name: scaling;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  .main-animation {
    img {
      position: relative;
      z-index: 1;
    }
  }

  @keyframes scaling {
    from {
      width: 110rem;
    }

    to {
      // width: 59.375rem;
      transform: scale(0.4);
      margin-left: -23.5rem;
      margin-top: -31.3rem;
    }
  }

  .text {
    color: hsl(349, 56%, 48%);
    letter-spacing: 7.5px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 300px/242px var(--unnamed-font-family-scrivano);
    font: normal normal normal 200px/242px Scrivano;
    text-align: left;
    text-transform: capitalize;
    opacity: 1;
    line-height: 1;
    animation-name: text-animation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
    white-space: nowrap;
  }

  @keyframes text-animation {
    from {
      margin-left: 100rem;
      margin-top: -70rem;
      opacity: 0.3;
      // color: hsl(349, 56%, 48%);
    }

    to {
      opacity: 1;
      position: absolute;
      margin-left: 27.5rem;
      margin-top: -72.5rem;
      opacity: 1;
      // color: green;
    }
  }
}



.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background: hsl(122, 43%, 34%);
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.btn {
  background: hsl(122, 43%, 34%);
  border-radius: 71px;
  width: 57%;
  padding: 0.75rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #ffffff;
  text-align: center;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: row;
  }

  li.btn:hover {
    background: #fcfbed;
    color: hsl(122, 43%, 34%);
    text-align: center;
  }

  .btn.active {
    background: #fcfbed;
    color: hsl(122, 43%, 34%);
  }

  i {
    color: #ffffff;
    font-size: 1.75rem;
    text-align: center;
    margin-top: 0.5rem;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    padding: 0.625rem;
    border-radius: 1.5rem;
  }
}

.cart {
  clip-path: circle();
  padding: 1.5rem;
  background: #f1dd88;
  position: absolute;
  margin-left: 57.5rem;
  margin-top: -1rem;
  font-family: Scrivano, Regular;

  a {
    color: hsl(122, 43%, 34%);
  }
}